list { 
    list-style-type: none;
    margin: 0;
    padding: 0 
}
li { 
    padding: 5px 10px 
        
}
li:nthChild(odd) { 
    background: #eee 
}
.message-list .message-image {
    padding-right: 2rem;
}

.message-list .message-user {
    padding-right: 3rem;
}
