<html>
    <head>
          
        <link href="https://fonts.googleapis.com/css?family=Bahiana" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet"> 
        <link href="/static/app.css" rel="stylesheet">
        <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="502071493900-va7p3qcevg50urpacudhn9k42so4adc3.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              //appId      : '249071228874802', //local-testing
              appId      : '1357014187707118',
              xfbml      : true,
              version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
          };
        
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>