<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Bahiana" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet"> 
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>